body {
    font-family: 'Roboto', sans-serif; 
    background-color: #1E2125; 
    color: #e0e0e0; 
    padding: 20px; 
    text-align: left;
}

.profile-header {
    text-align: left; 
    padding: 10px 0; 
    margin-bottom: 10px; 
}

h2 {
    color: #b34646; 
    margin: 20px 0; 
    padding-bottom: 10px; 
    border-bottom: 5px solid #666666; 
}

ul li {
    margin: 10px 0; 
}
